<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MQTT Pub tester</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="public/semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="public/semantic/dist/semantic.min.css">
    <script src="public/semantic/dist/semantic.min.js"></script>
    <style>
    #wrapper {
      margin: 20px 10px 50px 10px;
    }
    </style>
  </head>
  <body>
<div class="ui middle aligned center aligned grid" id="wrapper">
  <div class="column">
    <h2 class="ui teal image header">
      <div class="content">
        MQTT Publish Tool
      </div>
    </h2>
<% for (var i = 0; i < 10; i++) { %>
  <% if (i === 0) { %>
    <% include pubform %>
    <div class="ui horizontal divider">----------</div>
  <% } else { %>
    <% include pubformblank %>
    <div class="ui horizontal divider">----------</div>
  <% } %>
<% } %>
  </div>
</div>
  <div class="ui inverted vertical footer segment center aligned">
    <span style="font-size:10px;letter-spacing:2px;">(C)Copyright 2017 TAJISOFT All rights reserved.</span>
  </div>
  </body>
<script>
// Dropdown
$(".dropdown").dropdown();
$('.ui.radio.checkbox').checkbox();
// 一斉送信
$(".sendall").click(function(){
  $("form").submit();
});
// フォーム送信
$("form").submit(function(event) {
 event.preventDefault(); 

 var param = $(this).serializeArray();
 var postParam = {};
 for (var i = 0; i < param.length; i++) {
   if (param[i].name === "topic" || param[i].name === "topicval") {
     postParam[param[i].name] = param[i].value;
   } else {
     postParam[param[i].name] = parseInt(param[i].value);
   }
 }

 if (postParam && postParam["topic"] && postParam["topicval"]) {
   var self = $(this);
   self.addClass("loading");
   $.post("/pub", postParam, function(data) {
      self.removeClass("loading");
   });
 }
});
</script>
</html>
