    <form class="ui large form" method="POST" action="/pub">
      <div class="three fields">
        <div class="field">
          <label>トピック</label>
          <input type="text" name="topic" placeholder="/flightlog/navio2/accel/x" value="">
        </div>
        <div class="field">
          <label>値</label>
          <input type="text" name="topicval" placeholder="0.134" value="">
        </div>
        <% include qos %>
      </div>
      <div class="three fields">
        <div class="field">
          <label>回数</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="count" value="">
            <i class="dropdown icon"></i>
            <div class="default text">回数</div>
            <div class="menu">
              <div class="item" data-value="1">1</div>
              <div class="item" data-value="5">5</div>
              <div class="item" data-value="10">10</div>
              <div class="item" data-value="50">50</div>
              <div class="item" data-value="100">100</div>
              <div class="item" data-value="200">200</div>
              <div class="item" data-value="500">500</div>
              <div class="item" data-value="1000">1000</div>
              <div class="item" data-value="10000">10000</div>
              <div class="item" data-value="100000">100000</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label>間隔（ms）</label>
          <input type="text" name="interval" placeholder="500" value="">
        </div>
        <div class="field">
          <label>遅延（ms）</label>
          <input type="text" name="delay" placeholder="1000" value="">
        </div>
      </div>
      <input type="button" class="ui button orange sendall" value="一斉実行"/>
      <button class="ui button blue" type="submit" id="pub">実行</button>
      <div class="ui error message"></div>
    </form>
