<div class="inline fields">
    <label for="qos">QoS</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="qos" checked="" tabindex="0" class="hidden" value="0">
        <label>0</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="qos" tabindex="0" class="hidden" value="1">
        <label>1</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" name="qos" tabindex="0" class="hidden" value="2">
        <label>2</label>
      </div>
    </div>
  </div>
